@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header, section, footer, aside, nav, article, figure, figcaption {
    display: block;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    color: #666666;
    background-color: #f9f8f6;
    font-family: 'Helvetica', Georgia, times, serif;
    margin: 0 auto;
    font-size: 16px;
    outline: none;
}


header, footer {
    width: 100%;
    height: 40px;
    background-color: rgba(9, 4, 4, 0.75);
    padding: 0 30px;
}
nav{
    position: static;
}
ul{
    list-style: none;
    display:inline;
}
li{
    float: left;
    padding: 10px 0 10px 40px;
}
li a{
    text-decoration: none;
    color: #BDBDBD;
    font-size:18px;
}

li a:hover,  nav li a.current{
    color: #929292;
}

form{
    float: right;
    padding: 5px 10px 5px;

}
 input {
     color: #616161;
     font-family: Georgia, times, serif;
     font-size: 14px;
     border: 1px solid #BDBDBD;
     border-radius: 5px;
     padding:5px 0 5px 0;
 }

input:focus {
    background-color: #ffffff;
    border: 1px solid #f9f8f6;
}

input[type="submit"] {
    background-color: #0b0b0b;
    font-family: Georgia, times, serif;
    border: 1px solid #f9f8f6;
    font-size: 14px;
    color:#BDBDBD;
    cursor:pointer;
    margin-left:10px;
    width: 50px;
}
input[type="submit"]:hover{
    background-color: #323232;
    color: #ededed;

}

.content{
    max-width: 1170px;
    margin:0 auto;
    padding: 5px 15px;
    position:relative;
}
.articleContent{

    padding: 5px;
    float: left;
    width:70%;
}

article{
    float: left;
    width: 45%;
    margin: 10px;
    text-align: center;
    display: block;
    border:1px solid #6161618a;

}

article:hover{
    opacity: 0.8;
}

article a{
    text-decoration:none;
    color:#616161;
}

article a:visited{
  color:#616161;
}


article img{
    width: 300px;
    height: 150px;
}

figure{
    padding-top: 25px;
}

figcaption{
    font-style: italic;
    font-size: 90%;
    text-align: left;
    padding-left: 25px;
}

article h3{
    font-size:18px;
    color:#616161;
    text-align:center;
    font-family: Georgia, times, serif;
}

article p{
    overflow: hidden;
    height:150px;
    font-size:14px;
    color:#616161;
    text-align:center;
    font-family: Georgia, times, serif;
    padding: 15px;
}


aside {
    float:right;
    width:25%;
    margin: 10px;
}
aside section a {
    display: block;
    padding: 10px;
    color: #616161;
    font-family: 'Helvetica', Georgia, times, serif;
}
aside section a:hover {
    color: #0b0b0b;
    background-color: #efefef;
}

footer{
    clear:both;
    text-align:center;
    padding-top:10px;
    color: #BDBDBD;
    font-family: Georgia, times, serif;
    font-size:18px;
    position:absolute;
    bottom:0;
}

