header, section, footer, aside, nav, article, figure, figcaption {
    display: block;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
* {
    box-sizing: border-box;
}
body{
    color: #666666;
    background-color: #f9f8f6;
    font-family: Georgia, times, serif;
    width: 100%;
    margin: 0 auto;
}
nav, footer {
    width: 100%;
    height: 40px;
    position: static;
    background-color: rgba(9, 4, 4, 0.75);
}
.navContainer{
    width: 60%;
    margin:0 auto;
}
ul{
    list-style: none;
    display:inline;
}
li{
    float: left;
    padding: 10px 0px 10px 40px;
}
li a{
    text-decoration: none;
    color: #BDBDBD;
    font-family: Georgia, times, serif;
    font-size:18px;
}

li a:hover,  nav li a.current{
    color: #929292;
}

form{
    float: right;
    padding: 5px 10px 5px 5px;

}
 input {
     color: #616161;
     font-family: Georgia, times, serif;
     font-size: 14px;
     border: 1px solid #BDBDBD;
     border-radius: 5px;
     padding:5px 0px 5px 0px;
 }

input:focus {
    background-color: #ffffff;
    border: 1px solid #b1e1e4;
}

input[type="submit"] {
    background-color: #0b0b0b;
    font-family: Georgia, times, serif;
    border: 1px solid #b1e1e4;
    font-size: 14px;
    color:#BDBDBD;
    cursor:pointer;
    margin-left:10px;
    width: 50px;
}
input[type="submit"]:hover{
    background-color: #323232;
    color: #ededed;

}

#content{
    width: 960px;


}
.articleContent{
    width:80%;
    margin:0 auto;
    margin-top:50px;
}
article{

    float: left;
    width:350px;
    padding:5px;
    height: 400px;
}
article img{
    width:300px;
}

figcaption{
    font-style: italic;

}

article h3{
    font-size:18px;
    color:#616161;
    text-align:center;
    font-family: Georgia, times, serif;
}

article p{
    overflow: hidden;
    height: 200px;
    width:300px;
    font-size:14px;
    color:#616161;
    text-align:center;
    font-family: Georgia, times, serif;
}

aside {

    border-left:1px solid #616161;
}

aside section{
    width:100px;
}
aside section a {
    display: block;
    padding: 10px;
    color: #616161;
}
aside section a:hover {
    color: #0b0b0b;
    background-color: #efefef;}

footer{
    clear:both;
    text-align:center;
    padding-top:10px;
    color: #BDBDBD;
    font-family: Georgia, times, serif;
    font-size:18px;
}

